<%= form_with model: product do |form| %>
  <div><% Product Title %>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% product.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div><% Product Description %>
    <%= form.label :body %><br>
    <%= form.text_area :body %><br>
    <% product.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div><% Product Price %>
    <%= form.label :decimal %><br>
    <%= form.number_area :decimal %><br>
    <% product.errors.full_messages_for(:decimal).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div><% Product Availability %>
    <%= form.label :integer %><br>
    <%= form.number_area :integer %><br>
    <% product.errors.full_messages_for(:integer).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div><% Product Image %>
    <%= form.label :image %><br>
    <%= form.text_area :image %><br>
    <% product.errors.full_messages_for(:image).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
